@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=DM+Serif+Display&display=swap');

:root {
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(235, 10, 10, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #000;
}


.listed-item {
  display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
  }

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: underline;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: red;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 4.2em;
  line-height: 1.1;
  color: red;
}

h2 {
  font-size: 4em;
  text-decoration: underline;

}

h3 {
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'DM Serif Display', serif;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-style: double;
}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #000000;
  }
  a:hover {
    color: black;
  }}
 
.main-section {
  font-family: 'DM Serif Display', serif;
  background-color: black;
  color: red;
}

p {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
}

.listed-items {
  border-style: groove;
  background-color: #0f0f0f;

}

.searchbar {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 1.3em;
}

label {
  font-size: 1.3em;
  padding: 0.6em .6em;
}


